.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  align-items: center;
  justify-content: center;

  text-align: center;
  background-color: #282c34;

  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.empty {
  width: 5.2716rem;
  height: 5.188rem;
}

.card {
  display: flex;
  align-self: center;
  justify-self: center;
  padding: 1rem;
  margin: 0.6rem;

  font-size: 2.2rem;
  background-color: #a0a0a0;

  border: 2px solid #282c34;
  border-radius: 1rem;

  box-shadow: 0 0.8px 6px rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.selected {
  border: 2px solid #daa520;
  background-color: #282c34;
}

.card:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid #daa520;
  background-color: #282c34;
}

.matched {
  border: 2px solid #daa520;
  background-color: #daa520;
}

.matched:hover {
  border: 2px solid #daa520;
  background-color: #daa520;
}

.victory-text,
.text {
  font-size: 2rem;
  color: #daa520;
  text-decoration: underline;
}

/* .text {
  color: #daa520;
  font-size: 2rem;
  text-decoration: underline;
} */

.reset-btn {
  cursor: pointer;
  border: 2px solid #a0a0a0;
  background-color: #a0a0a0;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.8px 6px rgba(255, 255, 255, 0.05);
}

.reset-btn:hover {
  color: #daa520;
  border: 2px solid #daa520;
  background-color: #282c34;
}

.btn-disabled {
  color: #282c34;
  background-color: #282c34;
  border: 1px solid #282c34;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  scale: 1%;
}
